## Deliverable 3. Create a Travel Itinerary Map.

In [33]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,8,caravelas,BR,78.19,broken clouds,-17.7125,-39.2481,Pousada dos Navegantes
1,11,atuona,PF,77.00,broken clouds,-9.8000,-139.0333,Villa Enata
2,13,srem,PL,70.02,broken clouds,52.0887,17.0151,L'Ascada. Hotel
3,16,hasaki,JP,73.80,broken clouds,35.7333,140.8333,Inubosaki Kanko Hotel
4,17,jiuquan,CN,79.20,overcast clouds,39.7432,98.5174,Jiuquan Hotel

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(
    center=(30.0, 31.0), 
    zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# Create a dataframe that shows the countries that can be used for this challenge since at least 4 hotels are needed in the same country

# Create a dataframe with the count of Hotels per each country
Hotels_Per_Country = pd.DataFrame({
    "Country Code" : vacation_df["Country"].value_counts().index,
    "Hotel Count": vacation_df["Country"].value_counts()
})

# Create a dataframe for countries that have 4 or more hotels
Countries_with_4_or_more_hotels = Hotels_Per_Country.loc[(Hotels_Per_Country["Hotel Count"] > 4)]

# Set the Index of the DataFrame to a numeric Value
Countries_with_4_or_more_hotels.set_index((i for i in range(len(Countries_with_4_or_more_hotels))), inplace = True)

# Print the Dataframe
Countries_with_4_or_more_hotels

   Country Code  Hotel Count
0            ID           20
1            IN           11
2            CN           10
3            US           10
4            CA           10
5            BR            8
6            PG            8
7            RU            8
8            PH            8
9            PT            8
10           JP            7
11           GH            5
12           SO            5

In [31]:
# Ask the user for the desired country from ones with 4 or more hotels
# Using a while loop with a true statement until the user gives a country code that's in the dataset

while 0 == 0 :
    print(Countries_with_4_or_more_hotels["Country Code"])
    desired_country = str(input("Which country would you like to travel to? \n"))
    if Countries_with_4_or_more_hotels["Country Code"].str.contains(desired_country).any():
        break
print(f"You've chosen the country code {desired_country}.")

0     ID
1     IN
2     CN
3     US
4     CA
5     BR
6     PG
7     RU
8     PH
9     PT
10    JP
11    GH
12    SO
Name: Country Code, dtype: object
Which country would you like to travel to?
CN
You've chosen the country code CN.

In [44]:
# Create a dataset with the information of the chosen country to pick 4 random entries
# I wanted to use the haversine formula to pick the 3 nearest or furthest cities toone selected randomly using sample
# But I'm not sure if that would've been compliant with the challenge's requirements.

chosen_country_df = vacation_df.loc[(vacation_df["Country"] == desired_country)]
chosen_country_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,17,jiuquan,CN,79.20,overcast clouds,39.7432,98.5174,Jiuquan Hotel
58,202,huicheng,CN,79.59,scattered clouds,23.0385,116.2899,Huilai Hotel
71,261,lingyuan,CN,74.37,overcast clouds,41.2400,119.4011,Guomao Hotel
80,302,chaozhou,CN,78.66,few clouds,23.6651,116.6379,Seven Corner View Homestay
128,440,rucheng,CN,76.73,clear sky,32.3883,120.5553,Vienna Hotel Rugao Zhengxiang Square
139,482,dayong,CN,78.28,overcast clouds,25.0209,118.2898,Haiyue Express Hotel
146,496,nanning,CN,79.25,overcast clouds,22.8167,108.3167,Nanning Travelling With Hostel
149,499,beidao,CN,70.65,scattered clouds,34.5686,105.8933,Shell Tianshui Maiji District Erma Road Walkin...
175,593,chifeng,CN,75.79,moderate rain,42.2683,118.9636,Junyu Tiancheng Hotel
198,699,jiancheng,CN,78.57,clear sky,30.3910,104.5491,Jianyang Celebrity City Hotel

In [45]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "chaozhou"]
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "rucheng"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "jiancheng"]
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "huicheng"]

In [46]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = start
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (23.6651, 116.6379), End: (23.6651, 116.6379)
Stop 1: (32.3883, 120.5553), Stop 2: (30.391, 104.5491), Stop 3: (23.0385, 116.2899)

In [52]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
city_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')
fig = gmaps.figure()
fig.add_layer(city_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,302,chaozhou,CN,78.66,few clouds,23.6651,116.6379,Seven Corner View Homestay
1,440,rucheng,CN,76.73,clear sky,32.3883,120.5553,Vienna Hotel Rugao Zhengxiang Square
2,699,jiancheng,CN,78.57,clear sky,30.3910,104.5491,Jianyang Celebrity City Hotel
3,202,huicheng,CN,79.59,scattered clouds,23.0385,116.2899,Huilai Hotel

In [53]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [55]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))